/*provides style for text*/
.chart text{
	fill: black;
	font: 10px sans-serif;
	text-anchor: middle;
}

/*provides style for header*/
.chart header{
	fill:black;
	text-anchor: middle;
	font: 30px sans-serif;
}

/*provides style for axes*/
.axis text {
  font: 16px sans-serif;
}

.axis path,
.axis line {
	  fill: none;
  stroke: black;
}

/*gives colour to bar, also for when hovered over*/
.chart rect{
	fill: royalblue;
}

.bar:hover {
		fill: darkcyan;
}

/*provides style properties for tooltip*/
.d3-tip {
  font-weight: bold;
  font: 12px sans-serif;
  fill: black;
  padding: 4px;
  background: lavender;
  width: auto;
  height: auto;
  border-radius: 10px;
}